#parse("/velocity/layout.vm")
#@mainLayout()
<h3>$msg.get("INDEX_MANAGE_REQUESTS_INSTRUCTION")</h3>
<br>
    #if($noRequestsFound)
        <p>$msg.get("INDEX_NO_REQUESTS_FOUND")</p>
    #else
        #if($requestRejected)
            <p class="bad notification">$msg.get("REQUEST_REJECTED_MESSAGE")</p>
        #elseif($requestAccepted)
            <p class="good notification">$msg.get("REQUEST_ACCEPTED_MESSAGE", $currentUser)</p>
        #end

        <h4>$msg.get("REQUESTS_LABEL")</h4>
        #foreach($oneRequest in $allRequests)
            <p>$oneRequest.getFirstname() $oneRequest.getLastname() --> (From: $oneRequest.getCountry(),
                Gender: $oneRequest.getGender(), Email: $oneRequest.getEmail())</p>
            <a href="/manageRequests/accept/$oneRequest.getRequestid()">
                <button>$msg.get("ACCEPT_REQUEST_BUTTON")</button>
            </a>
            <a href="/manageRequests/reject/$oneRequest.getRequestid()">
                <button>$msg.get("REJECT_REQUEST_BUTTON")</button>
            </a>
        #end
    #end
#end